name: LaTeX to PDF

on:
  push:
#    branches-ignore:
#      - '!master'
    tags: v*.*.*

jobs:
  build:
    name: Build-Upload
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      # - name: Build docker image
      #   uses: Zero-Trust/latex-ci/.github/actions/latex@master
        
      - name: Build PDF
        uses: xu-cheng/latex-action@v2
        with:
          root_file: |
            main.tex

      - name: Get Tag Version
        run: |
          # Strip git ref prefix from version
          TAG_VERSION=$(echo "${{ github.ref }}" | sed -e 's,.*/\(.*\),\1,')
          # Strip "v" prefix from tag name
          [[ "${{ github.ref }}" == "refs/tags/"* ]] && TAG_VERSION=$(echo ${TAG_VERSION} | sed -e 's/^v//')

      - name: Create Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # This token is provided by Actions, you do not need to create your own token
        with:
          tag_name: ${{ github.ref }}
          # tag_name: ${{ TAG_VERSION }}
          release_name: Release ${{ github.ref }}
          body: |
            Release ${{ github.ref }}
          draft: false
          prerelease: false
          
      - name: Upload Release Asset
        id: upload-release-asset 
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          upload_url: ${{ steps.create_release.outputs.upload_url }} # This pulls from the CREATE RELEASE step above, referencing it's ID to get its outputs object, which include a `upload_url`. See this blog post for more info: https://jasonet.co/posts/new-features-of-github-actions/#passing-data-to-future-steps 
          asset_path: ./main.pdf
          asset_name: main.pdf
          asset_content_type: application/pdf

  remote-upload:
    name: Upload PDF file to Another Repository
    needs: build
    runs-on: ubuntu-latest
    steps:
       - name: Push file to another repository
         uses: Zero-Trust/anotherPush@master
         # env:
         #   API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
         with:
           upload-file: 'main.pdf'
           destination-username: 'Zero-Trust'
           destination-repository: 'pdf'
           user-email: '62760177+Zero-Trust@users.noreply.github.com'


